<div class="row">
<div class="col-md-4">
<%= image_tag @book.book_img.url(:book_show), class: "book-show" %>
</div>

<div class="col-md-8">
<div class="book-info">
      <h2 class="book-title"><%= @book.title %></h2>
      <h3 class="book-author"><span>From </span><%= @book.author %></h3>
      <p class="book-desc"><%= @book.description %></p>
      <%= link_to "Back", root_path, class: "btn btn-custom" %>
      <% if user_signed_in? %>
      <% if @book.user_id == current_user.id %>
      <%= link_to "Edit", edit_book_path(@book), class: "btn btn-custom" %>
      <%= link_to "Delete", book_path(@book), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-custom" %>
    <% end %>
    <% if @book.user_id != current_user.id %>
    <%= link_to "Request Trade Book", new_book_review_path(@book), class: "btn-custom" %>
    <% end %>
    <% end %>
</div>
</div>

<div class="row">
<div class="col-md-4">
<div class="reviews">
      <h1>Book Trade Requests:</h1>
      <%= render @book.reviews %>
</div>
</div>
</div>
